<mat-toolbar color="primary">
  <span><img src="https://firebasestorage.googleapis.com/v0/b/courseracourse-22cd9.appspot.com/o/images%2Flogo.png?alt=media&token=3f2592f8-a5e0-41d2-aaaa-f72d3717b4b8" height=30 width=41></span>
  <a mat-button routerLink='/home' routerLinkActive="warn"><mat-icon>home</mat-icon> Home</a>
  <a mat-button routerLink='/about' routerLinkActive="accent"><mat-icon>perm_identity</mat-icon> About</a>
  <a mat-button routerLink='/menu' routerLinkActive="accent"><mat-icon>list</mat-icon> Menu</a>
  <a mat-button routerLink='/contact' routerLinkActive="accent"><mat-icon>phone</mat-icon> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><mat-icon>person</mat-icon> Login</a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="80%">
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="https://firebasestorage.googleapis.com/v0/b/courseracourse-22cd9.appspot.com/o/images%2Flogo.png?alt=media&token=3f2592f8-a5e0-41d2-aaaa-f72d3717b4b8" alt="Logo">
  </div>
  <div fxFlex></div>
</div>