<p>
comments-form works!
</p>
<form>
<mat-card>
  <mat-card-title>
    Leave your opinion
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Your Name Here" type="text">
      </mat-form-field>
      
      <p matLine >Rate us:
      <mat-slider fxFlex.xs="70%" fxFlex.gt-sm="50%" fxFlexAlign="start"
        thumbLabel tickInterval="1" color="warn" min="1" max="5" step="1" value="5"></mat-slider></p>
 

      <mat-form-field>
        <mat-label>Your Comments</mat-label>
        <textarea matInput placeholder="Leave a comment" type="text"></textarea>
      </mat-form-field>
    </div>
    </mat-card-content>
    <mat-card-actions>
    <button mat-raised-button>Send</button>
  </mat-card-actions>
</mat-card>
</form>